.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 10000; // Adjust z-index to ensure it is visible over everything
  visibility: visible;
}

.fullScreen {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loadingBarContainer {
  width: 200px; // Adjust the width of the loading bar container
  height: 3px;
  background-color: #333; // Darker background for loading track
  border-radius: 5px;
  overflow: hidden;
  transform: translateY(140px); // Offset it a bit lower
}

.loadingBar {
  height: 100%;
  background-color: #ffffff; // Loading bar color (white)
  width: 0; // Initially 0, will fill based on the state
  transition: width 0.3s ease-in-out;
}

.loaderAnimation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;

  .animationWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .animationImages {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .animationImage {
    position: absolute;
    /* Added top and left to center the globe */
    width: 140px;
    height: 140px;
    opacity: 0.4;
    animation: spinRight 30s linear infinite;
    border-radius: 100%;
  }

  .initials {
    position: absolute;
    top: 50%;
    /* Ensure initials are centered over the globe */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
  }

  .letters2 {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 180px;
    animation: spinLeft 30s linear infinite;
  }

  /* Keyframes for the spin animation */
  @keyframes spinRight {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes spinLeft {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(-360deg);
    }
  }
}

.animationWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animationImages {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
}
